/* General styles */
.main {
  background-color: #1212125a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main container */
.container {
  background: #1c1c1c;
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  box-sizing: border-box;
  margin: 20px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.header h2 {
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

/* Task Input */
.task-input {
  display: flex;
  justify-content: space-between;
  background: #3e3d3d;
  padding: 10px;
  border-radius: 10px;
}

.task-input input {
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
}

.task-input button {
  background: #ff9800;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.task-input button:hover {
  background: #e68900;
}

/* Task List */
.task-list {
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  
}

.task-list li {
  background: #3a3939;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  font-size: 20px;
  padding: 0 10px;
  transition: 0.3s;
  color: white;
}

.task-item span {
  font-size: 16px;
  cursor: pointer;
}

.task-item .task-date {
  font-size: 12px;
  color: #aaa;
}

/* Task Actions */
.task-actions {
  display: flex;
  gap: 10px;
}

.edit,
.delete {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.edit:hover {
  color: #ff9800;
}

.delete:hover {
  color: red;
}

/* Completed Task */
.completed span {
  text-decoration: line-through;
  color: #888;
}
